<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <link href='https://fonts.googleapis.com/css?family=Averia Libre' rel='stylesheet'>
    <body>
    {%for i in value%}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{i.nama_kegiatan}}</h5>
            {% for x in psrt %}
            {% if x.kegiatann == i %}
            <p class="card-text">{{ x.nama_peserta }}</p>
            <a href="{%url 'home:deletepsrt' x.id%}" class="card-link">hapus peserta</a>
            {% endif %}
            {% endfor %}
            <a href="{%url 'home:pesertaa' pk_id=i.pk%}" class="card-link">peserta</a>
                <a href="{% url 'home:index' %}" class="card-link">kegiatan</a>
                <a href="{%url 'home:delete' i.id%}" class="card-link">hapus</a>
            </div>
        </div>
        {% endfor %}
    </body>
</html>