<html>
    <h1>Hello WORD</h1>
    
    <form method="POST" class="post-form">
        {% csrf_token %}
        {{ kegiatan.as_p }}<br>
        <button class="btn btn-primary" role="button" type="submit">Save</button>
    </form>
    <a href="{% url 'home:daftarr' %}">ke daftar</a>
</html>